@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Name</h1>

        <ul>
            <li>
        Membership Type:@Model.MembershipType.Name
             </li>   
        </ul>

        <ul>
            <li>
                Birthdate:@if (Model.DateOfBirth != null)
                {
                <text>@Model.DateOfBirth</text>

                }
                else
                {
                <text>No Birthday date</text>

                }
            </li>
        
    </ul>
